<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootswatch.com/5/united/bootstrap.min.css">
    <link rel="stylesheet" href="../static/prin.css">
    <title>Selección de Rol</title>
</head>
<body>
    <div class="btn-container">
        <p class="role-text">Selecciona tu rol</p>
        <button type="button" class="btn btn-outline-primary" onclick="location.href='/login'">Usuario</button>
        <button type="button" class="btn btn-outline-primary" onclick="location.href='/admin/login'">Administrador</button>
    </div>    
</body>
</html>
